/* removes scrollbars */
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  /*cursor: pointer;*/
  width: 100vw;
  height: 100vh;
}

.tooltip {
  position: absolute;
  display: inline-block;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}